<main class="show-collection">
  <h1 class="collection-title"><%= @collection.title %></h1>
  <div class="collection-stats">
    <% total_cards = @set_cards.count %>
    <% owned_cards = @set_cards.count { |card| CollectionType.exists?(collection_id: @collection.id, card_id: card.id) } %>
    <p>Cards owned: <%= owned_cards %>/<%= total_cards %></p>
  </div>
  <div class="cards-grid" data-controller="card-collection">
    <% @set_cards.each do |card| %>
      <%= turbo_frame_tag dom_id(card) do %>
        <div class="card-item <%= 'not-owned' unless CollectionType.exists?(collection_id: @collection.id, card_id: card.id) %>"
     data-card-collection-target="card"
     data-card-id="<%= card.id %>"
     data-collection-id="<%= @collection.id %>">

  <div class="favorite-btn">
    <% if current_user.favorites.exists?(card_id: card.id) %>
      <%= button_to card_favorite_path(card_id: card.id),
          method: :delete,
          class: "favorite-heart active",
          form: {
          data: {
            turbo_stream: true,
            turbo_frame: dom_id(card)
          }
        } do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= button_to card_favorites_path(card_id: card.id),
          method: :post,
          class: "favorite-heart",
          form: {
          data: {
            turbo_stream: true,
            turbo_frame: dom_id(card)
          }
        } do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
  </div>

  <% unless CollectionType.exists?(collection_id: @collection.id, card_id: card.id) %>
    <%= button_to '+',
        collection_collection_types_path(@collection),
        params: { card_id: card.id },
        class: 'add-card-btn',
        form: {
          data: {
            turbo_stream: true,
            turbo_frame: dom_id(card)
          }
        }
    %>
  <% end %>
          <div class="card-image" data-tilt data-tilt-glare data-tilt-max-glare="0.8">
            <img src="<%= card.image %>" alt="<%= card.name %>">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</main>
