<div class="login-container">
  <div class="login-form">
    <h2>Créer un compte</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    placeholder: "Prénom",
                    label: false,
                    input_html: { class: 'form-control' } %>

        <%= f.input :last_name,
                    required: true,
                    placeholder: "Nom",
                    label: false,
                    input_html: { class: 'form-control' } %>

        <%= f.input :email,
                    required: true,
                    placeholder: "Email",
                    label: false,
                    input_html: {
                      autocomplete: "email",
                      class: 'form-control'
                    } %>

        <%= f.input :password,
                    required: true,
                    placeholder: "Mot de passe",
                    label: false,
                    hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                    input_html: {
                      autocomplete: "new-password",
                      class: 'form-control'
                    } %>

        <%= f.input :password_confirmation,
                    required: true,
                    placeholder: "Confirmer le mot de passe",
                    label: false,
                    input_html: {
                      autocomplete: "new-password",
                      class: 'form-control'
                    } %>

                    <div class="address-section">
  <%= f.input :pays,
              required: true,
              placeholder: "Pays",
              label: false,
              input_html: {
                class: 'form-control'
              } %>

  <%= f.input :city,
              required: true,
              placeholder: "Ville",
              label: false,
              input_html: {
                class: 'form-control'
              } %>

  <%= f.input :address,
              required: true,
              placeholder: "Adresse",
              label: false,
              input_html: {
                class: 'form-control'
              } %>

  <%= f.input :postal_code,
              required: true,
              placeholder: "Code Postal",
              label: false,
              input_html: {
                class: 'form-control'
              } %>
</div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'inscrire", class: "button-shine" %>
      </div>
    <% end %>

    <div class="form-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
