<% card_info = PokemonTcgService.new.get_card_info(card.tcg_id) %>
<div class="card">
  <% if card_info %>
    <h2><%= card_info["name"] %></h2>
    <img src="<%= card_info["images"]["small"] %>" alt="<%= card_info["name"] %>">
    <div class="card-details">
      <p>Set: <%= card_info["set"]["name"] %></p>
      <p>Rarity: <%= card_info["rarity"] %></p>
      <% if card_info["tcgplayer"] && card_info["tcgplayer"]["prices"] %>
        <p>Market Price: $<%= card_info["tcgplayer"]["prices"]["holofoil"]&.dig("market") %></p>
      <% end %>
    </div>
  <% else %>
    <p>Impossible de charger les informations pour <%= card.name %></p>
  <% end %>
</div>
