<%# app/views/cards/index.html.erb %>
<div class="cards-page">
  <h1 class="main-title">Nos cards du moment</h1>

  <div class="search-container">
    <%= form_with(url: cards_path, method: :get, data: { turbo_frame: "cards_list" }) do |f| %>
      <div class="search-input-wrapper">
        <i class="fas fa-search search-icon"></i>
        <%= f.text_field :query,
            placeholder: "Find a card?",
            class: "search-input",
            value: params[:query] %>
        <%= f.hidden_field :tcg, value: params[:tcg] %>
      </div>
    <% end %>
  </div>

 <%= render 'components/tab' %>

  <div id="cards_list">
    <%= render "cards/list", cards: @cards %>
  </div>
</div>
