<div class="cards-page">
  <h1 class="main-title">Nos cards du moment</h1>

  <div class="search-container">
    <%= form_with(url: cards_path, method: :get, class: "search-form") do |f| %>
      <div class="search-input-wrapper">
        <i class="fas fa-search search-icon"></i>
        <%= f.text_field :query, placeholder: "Trouver une carte ?", class: "search-input" %>
      </div>
    <% end %>
  </div>

  <div class="tabs">
    <%= link_to "Pokemon", "#", class: "tab active", data: { tab: "pokemon" } %>
    <%= link_to "Yu-gi-ho", "#", class: "tab", data: { tab: "yugiho" } %>
  </div>

  <%= turbo_frame_tag "cards_list" do %>
    <div class="cards-grid">
      <% @cards.each do |card| %>
        <%= turbo_frame_tag dom_id(card), loading: :lazy do %>
          <div class="card-item">
            <% card_info = Rails.cache.fetch("card_info_#{card.id}", expires_in: 6.hours) do %>
              <% service = TcgService.new(card.tcg) %>
              <% service.get_card_info(card.tcg_id) %>
            <% end %>

            <% if card_info.present? %>
              <%= link_to card_path(card), class: "card-link", data: { turbo_frame: "_top" } do %>
                <div class="card-image" data-tilt data-tilt-glare data-tilt-max-glare="0.8">
                  <% if card.tcg == "pokemon" %>
                    <img src="<%= card_info["images"]["small"] %>" alt="<%= card_info["name"] %>">
                  <% elsif card.tcg == "yugiho" %>
                    <img src="<%= card_info["card_images"][0]["image_url"] %>" alt="<%= card_info["name"] %>">
                  <% end %>
                </div>
                <div class="card-name">
                  <%= card_info["name"] %>
                </div>
              <% end %>
            <% else %>
              <div class="card-placeholder">
                Chargement...
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
