<div class="card-detail-container">
  <div class="card-inf">
    <div class="card-imag"
     data-tilt
     data-tilt-glare
     data-tilt-max-glare="0.5"
     data-tilt-max="35"
     data-tilt-speed="800">
      <% if @card.tcg == "pokemon" %>
        <img src="<%= @card_info["images"]["large"] %>" alt="<%= @card_info["name"] %>">
      <% elsif @card.tcg == "yugiho" %>
        <img src="<%= @card_info["card_images"][0]["image_url"] %>" alt="<%= @card_info["name"] %>">
      <% end %>
    </div>

    <div class="card-stats">
      <h1><%= @card_info["name"] %></h1>

      <div class="price-history">
        <h2><i class='bx bx-line-chart' ></i> Évolution du prix (30j)</h2>
        <h2>Price History</h2>
        <canvas data-controller="chart"
              data-chart-price-history-value="<%= @price_history.to_json %>"
              id="priceChart">
        </canvas>
      </div>

      <div class="stats-grid">
        <% if @card.tcg == "pokemon" %>
          <div class="stat-item">
            <h3><i class='bx bx-list-ul' ></i> Set</h3>
            <p><%= @card_info["set"]["name"] %></p>
          </div>

          <div class="stat-item">
            <h3><i class='bx bxs-bolt'></i> Rarity</h3>
            <p><%= @card_info["rarity"] %></p>
          </div>

          <div class="stat-item">
            <h3><i class='bx bx-paint' ></i> Artist</h3>
            <p><%= @card_info["artist"] %></p>
          </div>

          <div class="stat-item">
            <h3><i class='bx bx-radio-circle' ></i> Number</h3>
            <p><%= @card_info["number"] %>/<%= @card_info["set"]["total"] %></p>
          </div>
        <% elsif @card.tcg == "yugiho" %>
          <div class="stat-item">
            <h3>Type</h3>
            <p><%= @card_info["type"] %></p>
          </div>

          <div class="stat-item">
            <h3>Race</h3>
            <p><%= @card_info["race"] %></p>
          </div>

          <div class="stat-item">
            <h3>Archetype</h3>
            <p><%= @card_info["archetype"] || "N/A" %></p>
          </div>

          <% if @card_info["atk"].present? %>
            <div class="stat-item">
              <h3>ATK/DEF</h3>
              <p><%= @card_info["atk"] %>/<%= @card_info["def"] %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if @card.tcg == "yugiho" %>
        <div class="description">
          <h3>Description</h3>
          <p><%= @card_info["desc"] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
